<!-- Tatiana -->

<body>
    <section class="preview">
        <button class="reset-button js-resetBtn">
            <i class="fa-regular fa-trash-can"></i>
            Reset
        </button>
        <selection class="card">
            <div class="rectangle">
            </div>
            <selection class="information ">
                <p class="name js-preview-name">Nombre Apellido</p>
                <p class="developer js-preview-job">Front-end developer</p>

            </selection>

            <img class="photo js-preview-photo" src="./assets/images/photo.png" alt="profile photo">
            <ul class="icons">
                <li>
                    <a class="icon-phone js-preview-phone" href="">
                        <i class="fa-solid fa-mobile fa-xl"></i>
                    </a>
                </li>
                <li>
                    <a class="icon-email" href="#">
                        <i class="fa-solid fa-envelope fa-xl"></i>
                    </a>
                </li>
                <li>
                    <a class="icon-linkedin" href="js-preview-link">
                        <i class="fa-brands fa-linkedin fa-xl"></i>
                    </a>
                </li>
                <li>
                    <a class="icon-github" href="#">
                        <i class="fa-brands fa-github-alt fa-xl"></i>
                    </a>
                </li>
            </ul>
        </selection>
    </section>



    </section>

</body>