<!-- Tatiana -->

<body>
    <section class="preview">
        <button class="reset-button">
            <i class="fa-regular fa-trash-can"></i>
            Reset
        </button>
        <selection class="card">
            <div class="rectangle">
            </div>
            <selection class="information">
                <p class="name">Nombre Apellido</p>
                <p class="developer">Front-end developer</p>
            </selection>

            <img class="photo" src="./assets/images/photo.png
            " alt="profile photo">
            <ul class="icons">
                <li>
                    <a class="icon-phone" href="#">
                        <i class="fa-solid fa-mobile fa-xl"></i>
                    </a>
                </li>
                <li>
                    <a class="icon-email" href="#">
                        <i class="fa-solid fa-envelope fa-xl"></i>
                    </a>
                </li>
                <li>
                    <a class="icon-linkedin" href="#">
                        <i class="fa-brands fa-linkedin fa-xl"></i>
                    </a>
                </li>
                <li>
                    <a class="icon-github" href="#">
                        <i class="fa-brands fa-github-alt fa-xl"></i>
                    </a>
                </li>
            </ul>
        </selection>
    </section>



    </section>

</body>