<!-- Victoria -->
<fieldset class="design-section collapsablemenu">
  <legend class="legend-design js-legend">
    <i class="icon fa-regular fa-object-ungroup"></i>
    <span class="fill">Diseña</span>
    <i class="fa-solid fa-skull-crossbones fa-2x skull js-arrow-design1"></i>
  </legend>
  <section class="design-colors section-to-hide collapsed">
    <h3 class="design-subtitle">Colores</h3>
    <div class="colors-options">
      <div class="option">
        <label class="color-palette1 color-palette-label" for="color-palette1">
          <input
            type="radio"
            name="palette"
            value="color-palette1"
            class="color-palette-input1"
            id="1"
          />
          <div class="option">
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="color3"></div>
          </div>
        </label>
      </div>
      <div class="option">
        <label class="color-palette2 color-palette-label" for="color-palette2">
          <input
            type="radio"
            name="palette"
            value="color-palette2"
            class="color-palette-input2"
            id="2"
          />
          <div class="option">
            <div class="color4"></div>
            <div class="color5"></div>
            <div class="color6"></div>
          </div>
        </label>
      </div>
      <div class="option">
        <label class="color-palette3 color-palette-label" for="color-palette3">
          <input
            type="radio"
            name="palette"
            value="color-palette3"
            class="color-palette-input3"
            id="3"
          />
          <div class="option">
            <div class="color7"></div>
            <div class="color8"></div>
            <div class="color9"></div>
          </div>
        </label>
      </div>
    </div>
  </section>
</fieldset>
