<fieldset class="fill-section collapsablemenu">
  <legend class="legend-fill">
    <i class="fa-solid fa-keyboard"></i>
    <span class="fill">rellena</span>
    <i class="fa-solid fa-angle-up fa-2x js-arrow-design3 arrow"></i>
  </legend>
  <div class="fill-inputs-section section-to-hide collapsed">
    <label for="name" class="text-fill">nombre completo</label>
    <input type="text" name="name" placeholder="Ej: Adalab Adalab" required />
    <label for="jobpsition" class="text-fill">puesto</label>
    <input type="text" name="jobpsition" placeholder="Ej: Junior" required />
    <div class="div-text-fill">
      <div>
        <p class="profile">imagen de perfil</p>
        <label class="text-fill image_button" for="image">añadir imagen</label>
        <input
          type="file"
          name=""
          id="image"
          class="image__hiddenField js__profile-upload-btn"
        />
      </div>
      <div class="profile__preview js__profile-preview"></div>
    </div>
    <label for="email" class="text-fill">email</label>
    <input type="text" name="email" placeholder="Ej: adalab@adalab" required />
    <label for="phone" class="text-fill">teléfono</label>
    <input type="text" name="phone" placeholder="Ej: 789 653 214" required />
    <label for="linkedin" class="text-fill">linkedin</label>
    <input
      type="text"
      name="linkedin"
      placeholder="Ej: https://www.linkedin.com/school/adalab/"
      required
    />
    <label for="github" class="text-fill">github</label>
    <input type="text" name="github" placeholder="Ej: @Adalab" required />
  </div>
</fieldset>
