<!-- Lupe -->

<fieldset class="share-section collapsablemenu">
  <legend class="legend-share">
    <i class="icon fa-solid fa-share-nodes fa-xl "></i>
    <p class="share">comparte</p>
    <i class="fa-solid fa-angle-up fa-2x arrow js-arrow-design2"></i>
  </legend>

  <div class="container-collapsible section-to-hide collapsed">
    <div class="button-container">
      <button class="button-create">
        <i class="fa-solid fa-address-card"></i>
        <span>crear tarjeta</span>
      </button>
    </div>

    <!--     <div class="check">
      <h3 class="share-text">¡Rellena todo el formulario!</h3>
    </div> -->

    <!-- <div class="created">
      <h3 class="share-text">la tarjeta ha sido creada:</h3>
      <a class="link" href="" target="_blank"
        >https://awesome-profile-card.com?id=A456DF0001</a
      >
      <a class="button-share" href="" target="_blank">
        <i class="fa-solid fa-address-card"></i>
        <span> Compartir en twitter</span>
      </a>
    </div> -->
  </div>
</fieldset>