$main_font:'Open Sans', sans-serif;
$title_font: 'Merriweather', serif;
$card_font: 'Montserrat', sans-serif;

$main_text_color: #e8e8e8;
$secondary_color: #f9c721;
$primary_color: #ee1447;
$form_color: #a2deaf;