$main_font:'Open Sans', sans-serif;
$title_font: 'Merriweather', serif;
$card_font: 'Montserrat', sans-serif;

$main_text_color: #C3AA72;
$secondary_color: #114e4e;
$primary_color: #DC7612;
$form_color: #0B110D;