$main_font:'Open Sans', sans-serif;
$title_font: 'Merriweather', serif;
$card_font: 'Montserrat', sans-serif;

$main_text_color: #54585a;
$secondary_text_color: #114e4e;
$primary_text_color: #e17334;
$primary_text_color: #e17334;


