.preview {
  width: 85%;
  height: 95%;
  margin: auto auto;
  background: linear-gradient(#bfcdd0, #dde9ed);
  padding-bottom: 40px;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: min-content  min-content;

  @media all and (min-width: 768px) {
    border-radius: 6px;
  }
}


.reset-button {
  width: 8.5rem;
  height: 3rem;
  font-size: 12px;
  font-weight: lighter;
  color: $main_text_color;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 45px;
  margin-bottom: 20px;
}

.preview .fa-regular {
  padding-right: 5px;
}

.card {
  border: 1px;
  border-radius: 5px;
  background-color: white;
  width: 270px;
  border-color: $main_text_color;
  box-shadow: 1px 2px 4px rgba(14, 14, 14, 0.25);
}
.information {
  margin-top: 21px;
  margin-left: 20px;
}
.name {
  font-size: 18px;
  font-weight: bold;
  color: $secondary_color;
  margin-left: 20px;
}
.developer {
  font-size: 16px;
  color: $main_text_color;
  margin-left: 20px;
  margin-bottom: 10px;
}
.rectangle {
  background-color: #438792;
  width: 5px;
  height: 42px;
 position: absolute;
 margin-top: 20px;
}

.photo {
  width: 100%;
  height: 250px;
}
.icons {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: 10px;
  margin: 20px 20px 20px;
}

.icons a {
  color: $secondary_color;
}

.icon-phone {
  width: 32px;
  height: 32px;
  border: 2px solid #a2deaf;
  border-radius: 50px;
  padding: 8px 10px 8px 10px;
}

.icon-email {
  width: 32px;
  height: 32px;
  border: 2px solid #a2deaf;
  border-radius: 50px;
  padding: 8px 8px 8px 8px;
}

.icon-linkedin {
  width: 32px;
  height: 32px;
  border: 2px solid #a2deaf;
  border-radius: 50px;
  padding: 8px 9px 8px 9px;
}
.icon-github {
  width: 32px;
  height: 32px;
  border: 2px solid #a2deaf;
  border-radius: 50px;
  padding: 8px 8px 8px 8px;
}

// ------------------------- paletas de colores ------------------------

// .pallete1 {
//   &__p {color: #114e4e;}
//   &__icons {color: #438792;
//   }
  
// }
// .pallete2 {
//   &__p { color: #420101;}
//   &__icons {color: #bd1010;
//   }
  
// }
// .pallete3 {
//   &__p {color: #3e5b65;}
//   &__icons {color: #eab052;
//   }
// }
