.preview {
  background-color: #bfcdd0;
  /*   width: 100vw; */
  width: auto;

  padding-bottom: 40px;
}

.reset-button {
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px 15px 8px 15px;
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: 45px;
}

.card {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 45px;
  border-color: $main_text_color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.information {
  margin-top: 21px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.name {
  font-size: 18px;
  font-weight: bold;
  color: $secondary_color;
}

.photo {
  width: 100%;
  height: 250px;
}
.icons {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: 20px;
  margin: 20px 20px 20px;
}

.icons a {
  color: $secondary_color;
}
