.fill-section {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 15px;
  font-family: $main_font;
  font-size: 1.4rem;
  padding-bottom: 30px;
  border-bottom: solid #d8d8d8 1px;
 
  @media all and (min-width: 768px) {
    width: 45%;
    margin-left: 40px;
  }
  @media all and (min-width: 1064px) {
    width: 30%;
    margin-left: 40px;
  }
}
.fill-section input {
  padding: 5px;
  border: 1px solid $form_color;
}
.text-fill {
  color: $secondary_color;
  font-weight: 500;
}
.text-fill:first-letter {
  text-transform: capitalize;
}
.profile:first-letter {
  text-transform: capitalize;
}
.profile {
  margin-bottom: 15px;
}
.legend-fill {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: baseline;
  gap: 15px;
  color: $main_text_color;
   
}
.fill {
  text-transform: uppercase;
  color: $main_text_color;
  font-size: 1.8rem;
  font-weight: 600;
  flex-grow: 1;
}

.fill-section .fa-keyboard {
  color: $primary_color;
  width: 20px;
  height: 20px;
}
.fill-section .fa-angle-down {
  margin-right: 0;
}
.div-text-fill {
  margin-bottom: 10px;
}
.profile {
  color: $secondary_color;
  font-weight: 500;
}
.image_button {
  border: 0;
  box-shadow: 0 0 5px rgba(#000, 0.3);
  box-sizing: border-box;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  width: 140px;
  cursor: pointer;
  background-color: $primary_color;
  height: 30px;
  border-radius: 4px;
  text-transform: capitalize;
}
.image__hiddenField {
  /* Ocultamos el input de tipo "file" porque no podemos 
    darle los estilos que queremos */
  display: none;
}
