.footer {
  width: 100%;
  border-top: 1px solid #d8d8d8;
  padding: 1.8rem 6.1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  background-color: white;

  @media all and (min-width: 768px) {
    padding: 1rem 4rem 1rem 4.1rem;
    flex-direction: row;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 1.4rem;
    color: #6b6b6b;
    opacity: 0.5;
  }

  &__logo {
    width: 10.3rem;
  }
}
