.form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
    font-family: $main_font;
    font-size: 14px;
    
}
.form input {
    padding: 5px;
    border: 1px solid $form_color;
}
.form label {
    color: $secondary_color;
    font-weight: 500;
}
.form label:first-letter {
    text-transform: capitalize;
    
}
.title-fill {
    margin-top: 10px;
    margin-bottom: 25px;
}
.fa-solid {
    color: $primary_color;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
    
}
.fill {
    text-transform: uppercase;
    color: $main_text_color;
    font-size: 18px;
    font-weight: 600;
    
}

.button {
    background-color: $primary_color;
    width: 140px;
    height: 30px;
    border-radius: 4px;
}