.header__home {
    width: 100vw;
    margin: 5.9375rem auto 2.2125rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;

    &__logo {
        width: 15.625rem;

        @media all and (min-width: 768px) {
            width: 26.1875rem;
        }
    }

    @media all and (min-width: 768px) {
        margin: 21.875rem auto 1.9375rem;
    }
}

.header__profile {
    width: 100vw;
    position: static;
    display: flex;
    justify-content: center;
    margin: 0rem;
    height: 6.9375rem;

    &__logo {
        width: 12.5625rem;
    }

    @media all and (min-width: 768px) {
        justify-content: flex-start;
        margin-left: 2.5rem;
    }

}