.header__home {
  width: 100%;
  margin: 9.5rem auto 3.54rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  margin-bottom: 300px;

  &__logo {
    width: 25rem;

    @media all and (min-width: 768px) {
      width: 41.9rem;
      
    }
  }

  @media all and (min-width: 768px) {
    height: calc(100vh - 62.6vh);
    margin: 0;
    align-items: flex-end;
  }
}

.header__profile {
  width: 100%;
  
  &__link {
    position: static;
    display: flex;
    justify-content: center;
    margin: 0rem;
    height: 11.1rem;
    
   @media all and (min-width: 768px) {
      justify-content: flex-start;
      padding-left: 4rem;
    }
  }

  &__logo {
    width: 20.1rem;
  }
}
