.main-profile {
  background: linear-gradient(#282626, #454040);
  display: grid;
  grid-template-columns: 1fr;
  min-height: calc(100vh - 6.1rem);

  @media all and (min-width: 768px) {
    grid-template-columns: 2fr 3fr;
    padding: 20px 40px 20px;

    .preview { 
      border-radius: 7px;     
    }
    .card {
      margin-bottom: 300px;
    }
  } 
}

.preview {
  @media all and (min-width: 768px) {
    order: 2;
   
  }
}


.rotate {
  transform: rotate(180deg);
  transition-duration: 350ms;
}