.main {
    background-color: #f5f5f5;
    padding: 19.34rem 2.56rem 3rem;
    height: calc(100vh - 11rem);
    min-height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;


    @media all and (min-width: 768px) {
        min-height: 965px;
        height: calc(100vh - 3.75rem);
        padding-top: 48.85rem;
        padding-bottom: 5.9rem;
    }

    &__title {
        font-family: $title_font;
        color: $primary_color;
        text-align: center;
        font-size: 1.92rem;

        @media all and (min-width: 768px) {
            font-size: 2.4rem;
        }
    }

    &__description {
        color: $secondary_color;
        text-align: center;
        font-size: 1.28rem;
        min-width: 26.48rem;

        @media all and (min-width: 768px) {
            font-size: 1.6rem;
            max-width: 331px;
        }
    }

    &__menu {
        display: flex;
        padding: 1.5rem 2rem 1rem 3.15rem;
        margin: 1.78rem 2rem 3.86rem;
        gap: 3.4rem;
        border: 1.6px solid #e173342c;
        border-radius: 4px;

        @media all and (min-width: 768px) {
            margin: 2.7rem auto 18.6rem;
        }
       

        &__item {
            list-style: none;
            margin: 0rem 0.78rem 0.78rem ;
            color: #54585a;
            text-align: center;
            font-size: 1.28rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media all and (min-width: 768px) {
                font-size: 1.6rem;
            }
    
            .icon {
                color: $primary_color;
                font-size: 2.6rem;
    
                @media all and (min-width: 768px) {
                    font-size: 2.9rem;
                }
            }
        }
    }

    &__button {
        text-transform: uppercase;
        background-color: #438792;
        font-weight: 600;
        text-decoration: none;
        color: white;
        padding: 1rem 2rem;
        border-radius: 2.1rem;

        @media all and (min-width: 768px) {
            margin: 0rem;
        }
    }
}