.main {
    background-color: #f5f5f5;
    padding: 12.0875rem 1.6rem 1.875rem;
    height: calc(100vh - 6.875rem);
    min-height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;


    @media all and (min-width: 768px) {
        min-height: 965px;
        height: calc(100vh - 3.75rem);
        padding-top: 30.53125rem;
        padding-bottom: 3.6875rem;
    }

    &__title {
        font-family: $title_font;
        color: $primary_color;
        text-align: center;
        font-size: 1.2rem;

        @media all and (min-width: 768px) {
            font-size: 1.5rem;
        }
    }

    &__description {
        color: $secondary_color;
        text-align: center;
        font-size: 0.8rem;
        min-width: 16.55rem;

        @media all and (min-width: 768px) {
            font-size: 1rem;
            max-width: 331px;
        }
    }

    &__menu {
        display: flex;
        padding: 0.9375rem 1.25rem 0.625rem 1.96875rem;
        margin: 1.1125rem 1.25rem 2.4125rem;
        gap: 2.125rem;
        border: 1.6px solid #e173342c;
        border-radius: 4px;

        @media all and (min-width: 768px) {
            margin: 1.6875rem auto 11.625rem;
        }
       

        &__item {
            list-style: none;
            margin: 0rem 0.4875rem 0.4875rem ;
            color: #54585a;
            text-align: center;
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media all and (min-width: 768px) {
                font-size: 1rem;
            }
    
            .icon {
                color: $primary_color;
                font-size: 1.625rem;
    
                @media all and (min-width: 768px) {
                    font-size: 1.8125rem;
                }
            }
        }
    }

    &__button {
        text-transform: uppercase;
        background-color: #438792;
        font-weight: 600;
        text-decoration: none;
        color: white;
        padding: 0.625rem 1.25rem;
        border-radius: 1.3125rem;

        @media all and (min-width: 768px) {
            margin: 0rem;
        }
    }
}